{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/libs/bootstrap-editable.css">
{/block}
{block name="body"}
<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <div class="pull-left">
            <h2>{$meta_title}</h2>
        </div>
    </header>
    <div class="main-box-body clearfix">
        <div class="table-responsive clearfix">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="30"><input class="checkbox check-all" type="checkbox"></th>
                    <th width="60">ID</th>
                    <th>合伙人</th>
                    <th>队员</th>
                    <th>学员</th>
                    <th>开发时间</th>
                    <th>最新进度</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="item"}
                <tr>
                    <td><input class="ids row-selected" type="checkbox" name="id[]" value="{$item['id']}"></td>
                    <td>{$item['id']}</td>
                    <td>{$item['name']}</td>
                    <td>{$item['person']}</td>
                    <td>{$item['time']}</td>
                    <td>{$item['process']}</td>
                    <td><a href="">详情</a> </td>
                </tr>
                {/volist}
                </tbody>
            </table>

        </div>
    </div>
</div>
{/block}