{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/libs/bootstrap-editable.css">
{/block}
{block name="body"}
<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <div class="pull-left">
            <h2>{$meta_title}</h2>
        </div>
    </header>
    <div class="main-box-body clearfix">
        <div class="table-responsive clearfix">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="30"><input class="checkbox check-all" type="checkbox"></th>
                    <th width="60">ID</th>
                    <th>合伙人</th>
                    <th>队员</th>
                    <th>学员</th>
                    <th>保护时间</th>
                    <th>脱保时间</th>
                    <th>状态</th>

                </tr>
                </thead>
                <tbody>
                {volist name="list" id="item"}
                <tr>
                    <td><input class="ids row-selected" type="checkbox" name="id[]" value="{$item['id']}"></td>
                    <td>{$item['id']}</td>
                    <td>{$item['department']}</td>
                    <td>{$item['person']}</td>
                    <td>{$item['name']}({$item['tel']})</td>
                    <td>{$item['protect_time']|date="Y-m-d H:i:s",###}</td>
                    <td>{$item['deactivation_time']|date="Y-m-d H:i:s",###}</td>
                    <td>
                        {if condition="$item['status']"}

                    </td>

                </tr>
                {/volist}
                </tbody>
            </table>

        </div>
    </div>
</div>
{/block}