{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/libs/bootstrap-editable.css">

<link rel="stylesheet" href="__PUBLIC__/plugs/tagsinput/bootstrap-tagsinput.css">
<script src="__PUBLIC__/plugs/tagsinput/bootstrap-tagsinput.js"></script>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugs/webuploader/webuploader.css">
<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/plugs/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/plugs/ueditor/ueditor.all.min.js"></script>
<!-- datepicker statr -->
<link href="__PUBLIC__/plugs/datepicker/css/foundation-datepicker.min.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/plugs/datepicker/js/foundation-datepicker.js"></script>
<script src="__PUBLIC__/plugs/datepicker/js/foundation-datepicker.zh-CN.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugs/board/board.min.css">
{/block}
{block name="body"}
<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <div class="pull-left">
            <h2>{$meta_title}</h2>
        </div>
    </header>
    <div class="main-box-body clearfix">
        <div class="row">
            <form method="get">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <select name="status" id="status" class="form-control">
                        <option value="">请选择状态</option>
                        <option value="2" {if isset($status) && $status==2}selected{/if} selected>未使用</option>
                        <option value="1" {if isset($status) && $status==1}selected{/if}>已使用</option>

                    </select>
                </div>
                <div class="col-sm-12 col-md-4">
                    <button class="btn btn-primary" type="submit">查询</button>
                </div>
            </form>
        </div>


        <div class="table-responsive clearfix">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="30"><input class="checkbox check-all" type="checkbox"></th>
                    <th width="60">序号</th>
                    <th>兑换码</th>
                    <th>金额</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="item"}
                <tr>
                    <td><input class="ids row-selected" type="checkbox" name="id[]" value="{$item['id']}"></td>
                    <td>{$item['id']}</td>
                    <td>{$item['code']}</td>
                    <td>{$item['amount']}</td>
                    <td>
                        {if condition="$item['status']"}
                            <span class="btn btn-block">已使用</span>
                        {else}
                        <span class="btn btn-default">未使用</span>
                        {/if}
                    </td>

                </tr>
                {/volist}
                </tbody>
            </table>
            {$page}
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__PUBLIC__/plugs/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugs/webuploader/webuploader.custom.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/droppable.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugs/board/board.min.js"></script>

{/block}