{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" href="__PUBLIC__/plugs/tagsinput/bootstrap-tagsinput.css">
<script src="__PUBLIC__/plugs/tagsinput/bootstrap-tagsinput.js"></script>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugs/webuploader/webuploader.css">
<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/plugs/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/plugs/ueditor/ueditor.all.min.js"></script>
<!-- datepicker statr -->
<link href="__PUBLIC__/plugs/datepicker/css/foundation-datepicker.min.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/plugs/datepicker/js/foundation-datepicker.js"></script>
<script src="__PUBLIC__/plugs/datepicker/js/foundation-datepicker.zh-CN.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugs/board/board.min.css">
<!-- datepicker end -->
{/block}
{block name="body"}
<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <div class="pull-left">
            <h2>{:isset($info['id'])?'编辑':'新增'}活动信息</h2>
        </div>
        <div class="pull-right"></div>
    </header>
    <div class="main-box-body clearfix">
        <form method="post" class="form form-horizontal" onsubmit="return check()">
            <div class="form-group">
                <label class="col-lg-2 control-label">活动图标</label>
                <div class="col-lg-10 col-sm-10">
                    <div class="picker-box">
                        <div id="picker_cover_id" class="picker_button webuploader-container">
                            上传图片
                            <div id="rt_rt_1cqq4q92f1m6d1m8g1c7t12hqbus1" style="position: absolute; top: 0px; left: 0px; width: 88px; height: 32px; overflow: hidden; bottom: auto; right: auto;">
                                <input type="file" name="file" class="webuploader-element-invisible" multiple="multiple">
                                <label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label>
                            </div>
                        </div>
                        <input type="hidden" name="icon" id="field_cover_id" value="{$info.icon}">
                        <div id="fileList_cover_id" class="upload-file-list-info" style="width:100px;">
                            <li class="affix-list-item" id="WU_FILE_0">
                                <div class="upload-file-info">
                                    <span class="webuploader-pick-file-close" data-queued-id="WU_FILE_0" data-id="{$info.icon}" data-fileurl="/uploads/picture/20181027/e608f82bb1fc064d4a6dabc5cbfaaae5.jpg"><i class="close"></i></span>
                                    <span class="fname"></span>
                                    <span class="fsize"></span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="filebox image">
                                    <img src="{:get_cover($info.icon,'path')}" class="img-responsive">
                                </div>
                            </li>
                        </div>
                    </div>
                    <script type="text/javascript">
                        uploadsize =  5;
                        $(function(){
                            $("#picker_cover_id").SentUploader({
                                    fileNumLimit:1,
                                    uploadEvents: {
                                        uploadComplete:function(file){}
                                    },
                                    listName : 'fileList_cover_id',
                                    hiddenName: 'field_cover_id',
                                    hiddenValType:1,
                                    fileSingleSizeLimit:uploadsize*1024*1024,
                                    closeX:true
                                },
                                {
                                    fileType: 'service',
                                    filename : 'images',
                                });
                        });
                    </script>					<div class="help-block"></div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-2 control-label">活动类型</label>
                <div class="col-lg-10 col-sm-10">
                        <input type="hidden" value="{$info.type}" name="type"/>
                        <input type="hidden" value="{$info.what}" name="what"/>

                        {if isset($info['type']) && $info['type']==1}
                            {if isset($info['what']) && $info['what']==1}
                            <input type="text" readonly value="报名送(钱)" style="border:none;padding-top: 5px"/>
                            {/if}

                            {if isset($info['what']) && $info['what']==2}
                            <input type="text" readonly value="报名送(物)" style="border:none;padding-top: 5px"/>
                            {/if}
                        {/if}
                        {if isset($info['type']) && $info['type']==2}
                            <input type="text" readonly value="团报送" style="border:none;padding-top: 5px"/>
                        {/if}
                        {if isset($info['type']) && $info['type']==3}
                         <input type="text" readonly value="报名加钱送物" style="border:none;padding-top: 5px"/>
                        {/if}

                    <div class="help-block"></div>
                </div>
            </div>

                {if isset($info['type']) && $info['type']==2 }

                <div class="form-group">
                    <label class="col-lg-2 control-label">两人团优惠金额</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="two_amount" id="two_amount" value="{$info.two_amount}" style="width: 80%">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">三人团优惠金额</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="three_amount" id="three_amount" value="{$info.three_amount}" style="width: 80%">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">五人团优惠金额</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="five_amount" id="five_amount" value="{$info.five_amount}" style="width: 80%">
                    </div>
                </div>
                {/if}



            {if condition="$info['type'] eq 1 && $info['what'] eq 1 || $info['type'] eq 3"}
            <div class="form-group" id="jine">
                <label class="col-lg-2 control-label">金额</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="amount" id="amount" value="{$info.amount}" style="width: 80%">

                </div>
            </div>
            {/if}

            {if condition="$info['type'] eq 1 && $info['what'] eq 2"}
            <div class="form-group" id="wupin">
                <label class="col-lg-2 control-label">物品名称</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="gift" id="gift" value="{$info.gift}" style="width: 80%">

                </div>
            </div>
            {/if}

            <div class="form-group">
                <label class="col-lg-2 control-label">活动名称</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="name" id="name" value="{$info.name}" style="width: 80%">

                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">活动介绍</label>
                <div class="col-lg-10">
                    <textarea class="form-control" name="description" id="description">{$info.description}</textarea>
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-2 control-label">上线时间</label>
                <div class="col-lg-10 col-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control" id="create_time" name="online_time" value="{$info.online_time|date='Y-m-d H:i:s',###}" readonly size="15">
                        <span class="input-group-addon"><i class="fa fa-th"></i></span>
                    </div>
                    <script>
                        $('#create_time').fdatepicker({
                            format: 'yyyy-mm-dd hh:ii:ss',
                            pickTime: true
                        });
                    </script>								<div class="help-block"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">下线时间</label>
                <div class="col-lg-10 col-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control" id="update_time" name="downline_time" value="{$info.downline_time|date='Y-m-d H:i:s',###}" readonly size="15">
                        <span class="input-group-addon"><i class="fa fa-th"></i></span>
                    </div>
                    <script>
                        $('#update_time').fdatepicker({
                            format: 'yyyy-mm-dd hh:ii:ss',
                            pickTime: true
                        });
                    </script>								<div class="help-block"></div>
                </div>
            </div>




            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <input type="hidden" name="id" value="{$info['id']|default=''}">
                    <button class="btn btn-success submit-btn ajax-post" type="submit" target-form="form-horizontal">确 定</button>
                    <button class="btn btn-danger btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                </div>
            </div>
        </form>

    </div>
</div>
{/block}

{block name="script"}
<script type="text/javascript" src="__PUBLIC__/plugs/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugs/webuploader/webuploader.custom.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/droppable.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugs/board/board.min.js"></script>

<script type="text/javascript">
    function check(){
        if(!$("#name").val()){
            alert("名称不能为空！");
            return false;
        }
    }

</script>


{/block}