{extend name="public/base"/}
{block name="body"}
<div class="main-box no-header clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
		<!--<div class="pull-right">
			<a href="{:url('add')}" class="btn btn-primary pull-right"> <i class="fa fa-plus-circle fa-lg"></i> 新增队员</a>
		</div>-->
	</header>
	<div class="main-box-body clearfix">
		<div class="table-responsive">
			<table class="table user-list table-hover">
				<thead>
					<tr>
						<th>
							<span>姓名</span>
						</th>
						<!--<th>
							<span>性别</span>
						</th>-->
						<th>
							<span>手机号码</span>
						</th>
						<th>
							<span>推荐码</span>
						</th>

						<!--<th>
							<span>邮箱地址</span>
						</th>-->
						
						<th>
							<span>所属团队</span>
						</th>
						<th>
							<span>招生人数</span>
						</th>
						<!--<th>
							<span>创建时间</span>
						</th>
						<th class="text-center">
							<span>状态</span>
						</th>-->
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="list" id="item"}
					<tr>
						<td>
							<img src="{:avatar($item['uid'])}" alt=""/>
							<span class="user-subhead">{$item['username']}</span>
						</td>
						<!--<td>
							{if condition="$item['sex']"}
							<span >女</span>
							{else/}
							<span >男</span>
							
							{/if}
						</td>-->
						<td>
							<span >{$item['mobile']}</span>
						</td>
						<td>
							<span >{$item['code']}</span>
						</td>
						<td>
							<span >{$item['title']}</span>
						</td>
						
						<td>{$item['number']}</td>
						<!--<td class="text-center">
						
							{if condition="$item['status']==1"}
							<span class="label label-danger">禁用</span>
							{else/}
							<span class="label label-primary">启用</span>
							
							{/if}
						</td>-->
						<td>
							<a href="{:url('Person/edit',array('id'=>$item['uid']))}" class="btn btn-info" title="">
								编辑
							</a>
							
							<!--<a href="{:url('Person/del',array('id'=>$item['uid']))}" class="btn btn-danger confirm ajax-get">
								删除
							</a>-->
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
			{$page}
		</div>
	</div>
</div>
{/block}