{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/libs/bootstrap-editable.css">
{/block}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
		<div class="pull-right">
			<a class="btn btn-primary" href="{:url('add')}">导入</a>
			<!--<button class="btn btn-danger ajax-post confirm" url="{:url('delete')}" target-form="ids">删 除</button>-->
		</div>
	</header>
	<div class="main-box-body clearfix">
		<div class="row">
			<form method="post">
				<div class="col-sm-12 col-md-4 col-lg-3">
					<input type="text" class="form-control" name="keyword" value="{$keyword|default=''}" placeholder="请输入姓名、电话、推荐码">
				</div>

				<div class="col-sm-12 col-md-4">
					<button class="btn btn-primary" type="submit">查询</button>
				</div>
			</form>
		</div>


		<div class="table-responsive clearfix">
			<table class="table table-hover">
				<thead>
					<tr>
						<th width="30"><input class="checkbox check-all" type="checkbox"></th>
						<th width="60">ID</th>
						<th>姓名</th>
						<!--<th>上级栏目</th>-->
						<th>电话</th>
						<th>推荐码</th>
						<th>招生人数</th>
						<th>团队总招生人数</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="list" id="item"}
					<tr>
						<td><input class="ids row-selected" type="checkbox" name="id[]" value="{$item['id']}"></td>
						<td>{$item['id']}</td>
						<td>
						{$item['level_show']}
						{$item['title']}
						 <!--<a class="add-sub-cate" title="添加子分类" href="{:url('add?pid='.$item['id'])}">
                                        <i class="fa fa-plus-square"></i>
                                    </a>-->
						</td>
						<!--<td>{$menu.up_title|default='无'}</td>-->
						<td>
						{$item['phone']}
						</td>
						<td>{$item['code']}</td>
						<td>{$item['number']}</td>
						<td>{$item['total']}</td>
						<td>
							<a href="{:url('person/index?id='.$item['id'])}" class="btn btn-success">队员信息</a>
							<a href="{:url('edit?id='.$item['id'])}" class="btn btn-info">编辑</a>
							<!--<a href="{:url('delete?id='.$item['id'])}" class="confirm ajax-get">删除</a>
							-->
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
			
		</div>
	</div>
</div>
{/block}