{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/libs/bootstrap-editable.css">

<link rel="stylesheet" href="__PUBLIC__/plugs/tagsinput/bootstrap-tagsinput.css">
<script src="__PUBLIC__/plugs/tagsinput/bootstrap-tagsinput.js"></script>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugs/webuploader/webuploader.css">
<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/plugs/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/plugs/ueditor/ueditor.all.min.js"></script>
<!-- datepicker statr -->
<link href="__PUBLIC__/plugs/datepicker/css/foundation-datepicker.min.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/plugs/datepicker/js/foundation-datepicker.js"></script>
<script src="__PUBLIC__/plugs/datepicker/js/foundation-datepicker.zh-CN.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugs/board/board.min.css">
<style>
    .price{
        border-radius: 3px;
        background-clip: padding-box;
        border-color: #e7ebee;
        border-width: 2px;
        box-shadow: none;
        font-size: 13px;
        height: 34px;
        padding: 6px 12px;
        line-height: 1.42857143;
        color: #555;
        border: 1px solid #ccc;

    }
    .on{
        background-color: yellow;
    }
    .table-responsive{
        overflow-x:auto;
    }
    .table-hover{
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
    }
    .table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
        background-color: yellow;
    }
    tbody tr:hover{
        background-color: yellow;
    }
    .table-hover>tbody>tr>td{
        height: 38px;
        border: 1px solid #ccc;
        text-overflow:ellipsis;
        white-space:nowrap;
        overflow:hidden;
        text-align: center;
    }
    .table thead>tr>th{
        background-color: #e8eef4;
        height: 38px;
        border: 1px solid #ccc;
        text-overflow:ellipsis;
        white-space:nowrap;
        overflow:hidden;
        text-align: center;
    }
</style>
{/block}
{block name="body"}

<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <div class="pull-left">
            <h2>{$meta_title}</h2>
        </div>
        <div class="pull-right">
            <a class="btn btn-primary" href="{:url('export')}">导 出</a>
            <!--
            <button class="btn btn-success ajax-post" target-form="ids" url="{:url('status?status=0')}" >启 用</button>
            <button class="btn btn-default ajax-post" target-form="ids" url="{:url('status?status=1')}">禁 用</button>
            <button class="btn btn-danger ajax-post confirm" url="{:url('delete')}" target-form="ids">删 除</button>-->
        </div>
    </header>
    <div class="main-box-body clearfix">
        <div class="row">
            <form method="post">

                <div class="col-sm-12 col-md-4 col-lg-3">
                    <label>学员信息：</label>
                    <input type="text" class="form-control" name="keyword" value="{$keyword|default=''}" placeholder="请输入姓名、电话、推荐人">
                </div>

                <div class="col-sm-12 col-md-4 col-lg-3">
                    <label>学员状态：</label>
                    <select name="status" id="status" class="form-control">
                        <option value="">请选择学员状态</option>
                        <option value="1" {if isset($status) && $status==1}selected{/if}>正常</option>
                        <option value="2" {if isset($status) && $status==2}selected{/if}>退学</option>

                    </select>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-3">
                    <label>所属场地：</label>
                    <select name="area_id" id="area_id" class="form-control">
                        <option value="">请选择场地</option>
                        {volist name="area" id="item"}
                        <option value="{$item.id}" {if isset($area_id) && $area_id==$item['id']}selected{/if}>{$item.name}</option>
                        {/volist}

                    </select>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-3">
                    <label>参加活动：</label>
                    <select name="activity_id" id="activity_id" class="form-control">
                        <option value="">请选择参加活动类型</option>
                        {volist name="activity" id="item"}
                        <option value="{$item.id}" {if isset($activity_id) && $activity_id==$item['id']}selected{/if}>{$item.name}</option>
                        {/volist}
                    </select>
                </div>


                <div class="col-sm-12 col-md-4 col-lg-3" style="width: 50%;float: left">
                    <label>学费状态：</label>
                    <select name="tuition_state" id="tuition_state" class="form-control">
                        <option value="">请选择学费状态</option>
                        <option value="1" {if isset($tuition_state) && $tuition_state==1}selected{/if}>全款</option>
                        <option value="2" {if isset($tuition_state) && $tuition_state==2}selected{/if}>欠费</option>

                    </select>

                </div>
                <div class="col-sm-12 col-md-4 col-lg-3 tuition" style="width: 50%;float: left; display: none">
                    <br/>
                    <label>欠费：</label>
                    <input type="number" min="1" name="min_tuition" class="price" value="{$min_tuition}"/>-<input type="number" name="max_tuition" class="price" value="{$max_tuition}"/>
                </div>
                <div style="clear: both"></div>

                <div class="col-sm-12 col-md-4 col-lg-3" style="width: 50%;float: left;">
                    <label>班别信息：</label>
                    <select name="grade_id" id="grade_id" class="form-control">
                        <option value="">请选择班别</option>
                        <option disabled>上线</option>
                        {volist name="grade_x" id="item"}
                        <option value="{$item.id}" {if isset($grade_id) && $grade_id==$item['id']}selected{/if}>{$item.name}({$item.version})</option>
                        {/volist}
                        <option disabled>下线</option>
                        {volist name="grade_s" id="item"}
                        <option value="{$item.id}" {if isset($grade_id) && $grade_id==$item['id']}selected{/if}>{$item.name}({$item.version})</option>
                        {/volist}

                    </select>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3" style="width: 50%;float: left">
                    <br/>
                    <label>价格：</label>
                    <input type="number" min="1" name="min_price" class="price" value="{$min_price}"/>-<input type="number" name="max_price" class="price" value="{$max_price}"/>
                </div>

                <div style="clear: both"></div>


                <div class="col-sm-12 col-md-4 col-lg-3" style="width: 100%;">
                    <label>多身份证查询：</label>
                    <textarea placeholder="多个换行隔开" name="card" style="margin-top: 10px;border-color: #e7ebee;" class="form-control"></textarea>

                </div>


                <div class="col-sm-12 col-md-4">
                    <br/>
                    <button class="btn btn-primary" type="submit">查询</button>
                </div>
            </form>
        </div>


        <div class="table-responsive clearfix" style="overflow-x: scroll;">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="30"><input class="checkbox check-all" type="checkbox"></th>
                    <th width="50">序号</th>
                    <th width="100">学员姓名</th>
                    <th>电话</th>
                    <th>身份证</th>
                    <th>班别</th>
                    <th>价格</th>
                    <th>场地</th>
                    <th>活动</th>
                    <th>优惠券</th>
                    <th>合伙人</th>
                    <th>队员</th>
                    <th>报名时间</th>
                    <th>缴费类型</th>
                    <th>应缴</th>
                    <th>已缴</th>
                    <th>欠费</th>
                    <th>缴费时间</th>
                    <th>收款人</th>
                    <!--<th>收款备注</th>-->
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="item"}
                <tr>
                    <td><input class="ids row-selected" type="checkbox" name="id[]" value="{$item['id']}"></td>
                    <td>{$item['id']}</td>

                    {if condition="$item['tuition_state']==2"}
                        {if condition="$item['payment']==0"}
                        <td style="background-color: red;text-align: center; color: #fff;">{$item['name']}</td>
                        {else}
                            {if condition="$item['unpaid']==0"}
                            <td align="center">{$item['name']}</td>
                            {else}
                            <td style="background-color: #FF8000; text-align: center">{$item['name']}</td>
                            {/if}

                        {/if}
                    {else}
                    <td align="center">{$item['name']}</td>
                    {/if}


                    <td>{$item['phone']}</td>
                    <td>{$item['card']}</td>
                    <td>{$item.grade_name}</td>
                    <td>{$item.price}</td>
                    <td>{$item.area_name}</td>
                    <td>
                        {$item.activity_name}{$item.activity_amount}
                        {if $item.gift}({$item.gift}){/if}
                    </td>
                    <td>
                        {if condition="$item['coupon'] eq null"}
                            /
                        {else}
                        {$item.coupon_name}{$item.coupon_amount}({$item.code})
                        {/if}
                    </td>
                    <td>{$item.partner_name}</td>
                    <td>{$item.username}</td>
                    <td>{$item.sign_date|date="Y-m-d H:i:s",###}</td>
                    <td>
                        {if condition=" $item['pay_type'] eq 1 "}
                        线上全款
                        {elseif condition=" $item['pay_type'] eq 2 "}
                        线上定金
                        {elseif condition=" $item['pay_type'] eq 3 "}
                        线下全款
                        {else}
                        线下定金
                        {/if}
                    </td>
                    <td>{$item.payable}</td>
                    <td>{$item.payment}</td>
                    <td>{$item.unpaid}</td>
                    <td>
                        {if condition="$item['pay_date'] eq null"}
                            /
                        {else}
                            {$item.pay_date|date="Y-m-d H:i:s",###}
                        {/if}

                    </td>
                    <td>{$item.payee_name}</td>
                    <!--<td>{$item.remark}</td>-->
                    <td>
                        {if condition=" $item['status'] eq 0 "}
                        <span class="label label-danger">退学</span>
                        {else /}
                        <span class="label label-primary">正常</span>
                        {/if}
                    </td>

                    <td>

                        <!--<a href="{:url('edit?id='.$item['id'])}" class="btn btn-info">编辑</a>-->
                        {if $item['status']}
                        <a href="{:url('status?id='.$item['id'].'&status=0')}" class="btn btn-danger ajax-get">退学</a>
                        {else/}
                        <a href="{:url('status?id='.$item['id'].'&status=1')}" class="btn btn-success ajax-get">正常</a>
                        {/if}

                        {if condition="$item['tuition_state']==2"}
                        {if condition="$item['unpaid']==0"}
                        {else}
                        <a href="#" class="editable btn btn-info" data-id="{$item['id']}" data-name="title" data-type="text" data-pk="{$item['id']}"></a>
                        {/if}
                        {else}
                       {/if}
                        <!--<a href="{:url('delete?id='.$item['id'])}" class="confirm ajax-get table-link">删除</a>-->
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            {$page}
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__PUBLIC__/plugs/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugs/webuploader/webuploader.custom.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/droppable.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugs/board/board.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/js/bootstrap-editable.min.js"></script>
<script type="text/javascript">
    $(function () {
        $.fn.editable.defaults.mode = 'popup';
        $.fn.editableform.buttons = '<button type="submit" class="btn btn-success editable-submit btn-mini"><i class="fa fa-check-square-o fa-white"></i></button>' +
            '<button type="button" class="btn editable-cancel btn-mini"><i class="fa fa-times"></i></button>';
        /*$('.editable').editable();*/

        $('.editable').editable({
            type: "text",                //编辑框的类型。支持text|textarea|select|date|checklist等
            title: "金额",              //编辑框的标题
            disabled: false,             //是否禁用编辑
            emptytext: "收款",          //空值的默认文本
            mode: "popup",              //编辑框的模式：支持popup和inline两种模式，默认是popup
            validate: function (value) { //字段验证
                if (!$.trim(value)) {
                    return '不能为空';
                }
            },
            url:function(params){
                return updateValue(params,$(this));
            }
        });

        function updateValue(params,ele){
            $.ajax({
                type: "post",
                url: "{:url('editable')}",
                data: {name:params.name,value:params.value,pk:params.pk},
                dataType: 'json',
                success: function (result) {
                    console.log(result)
                    //更新editable内存对象值，如果不加，那么再次点编辑的时候，输入框显示的值不是转小写字母的值，而是最初输入的原值
                    //ele.editable('setValue',result.newValue);
                    //更新页面上的显示值
                    //ele.html(result.newValue);
                    alert("收款成功");
                    location.reload();
                },
                error: function () {
                    Ewin.alert('服务器繁忙，请稍后重试');
                },
                complete: function () {
                }
            });

        }

    });

</script>

<script type="text/javascript">

    $(function(){
        $("#tuition_state").change(function(){

            if($("#tuition_state option:selected").val()==2){
                $(".tuition").show();
            }else{
                $(".tuition").hide();
            }
        });

        if($("#tuition_state option:selected").val()==2){
            $(".tuition").show();
        }else{
            $(".tuition").hide();
        }


        $('tbody tr').click(function() {
            $('tbody tr').removeClass('on');
            $(this).addClass('on');
        });

    })

</script>

{/block}