{extend name="public/base"/}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
		<div class="pull-right">
			<a href="{:url('Group/index')}" class="btn btn-danger">
				<i class="glyphicon glyphicon-menu-left"></i> 
				返回
			</a>
		</div>
	</header>
	<div class="main-box-body clearfix">

<!--
		<link rel="stylesheet" href="__PUBLIC__/css/zTreeStyle/zTreeStyle.css" type="text/css">
		<script type="text/javascript" src="__PUBLIC__/js/jquery.ztree.core.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/jquery.ztree.excheck.js"></script>
		<SCRIPT type="text/javascript">
            <!--
            var setting = {
                check: {
                    enable: true,
                    chkboxType:{"Y":"ps","N":"ps"},
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                }
            };

            var zNodes =[
                { id:1, pId:0, name:"鼎吉驾校", open:true},

                { id:11, pId:1, name:"随意勾选 1-1", open:true},
                { id:111, pId:11, name:"随意勾选 1-1-1"},
                { id:112, pId:11, name:"随意勾选 1-1-2"},
                { id:12, pId:1, name:"随意勾选 1-2", open:true},
                { id:121, pId:12, name:"随意勾选 1-2-1"},
                { id:122, pId:12, name:"随意勾选 1-2-2"},

                { id:2, pId:0, name:"驾校名称2", checked:true, open:true},
                { id:21, pId:2, name:"随意勾选 2-1"},
                { id:22, pId:2, name:"随意勾选 2-2", open:true},
                { id:221, pId:22, name:"随意勾选 2-2-1", checked:true},
                { id:222, pId:22, name:"随意勾选 2-2-2"},
                { id:23, pId:2, name:"随意勾选 2-3"}
            ];


            $(document).ready(function(){
                $.fn.zTree.init($("#treeDemo"), setting, zNodes);

            });
            //--
		</SCRIPT>

		<div class="zTreeDemoBackground left">
			<ul id="treeDemo" class="ztree"></ul>
		</div>

-->



		<div class="table-responsive clearfix">
			<form action="" class="form" method="post">

				{volist name="school" id="school_item"}
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="col-lg-2 text-right"><input type="checkbox" value="{$school_item.id}" name="school_id" class="all"/>{$school_item.name}</th>
							<th>权限</th>
							<th align="right"><a href="javascript:" class="show-div">展开</a> </th>
						</tr>
					</thead>
					<tbody class="j_tb" style="display: none;">
						{volist name="list" id="node"}
						<tr>
							<td class="info col-lg-2 text-right"><input type="checkbox" name="{$key}" class="jx_all"/>{$key}</td>
							<td class="col-lg-10 text-left jx_tb">
								{volist name="node" id="item"}
								<div class="checkbox-nice checkbox-inline">

									<input type="checkbox" name="rule[{$school_item['id']}][]" value="{$item['id']}" {if in_array($item['id'],$group_list[$school_item['id']])}checked{/if} id="{$item['name']}-{$school_item['id']}"  />

								<label for="{$item['name']}-{$school_item['id']}">{$item['title']}</label>
								</div>
								{/volist}
							</td>
						</tr>
						{/volist}
						<!--<tr>
							<td class="info col-lg-2 text-right">模块</td>
							<td class="col-lg-10 text-left">
								{volist name="model" id="item"}
								<div class="checkbox-nice checkbox-inline">
								<input type="checkbox" name="extend_rule[2][]" value="{$item['id']}" id="{$item['name']}" {if in_array($item['id'],$extend_auth)}checked{/if} />
								<label for="{$item['name']}">{$item['title']}</label>
								</div>
								{/volist}
							</td>
						</tr>-->
					</tbody>
				</table>
				{/volist}




				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<input type="hidden" name="id" value="{$id}">
						<button type="submit" class="btn btn-success submit-btn ajax-post" target-form="form">确认提交</button>
						<button class="btn btn-danger btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">

    $(".all").click(function(){
        var checkboxs = $(this).parent().parent().parent().next().find('input');
        console.log($(this).parent().parent().parent());
        for (var i = 0; i < checkboxs.length; i++) {
            var checkbox = checkboxs[i];
            checkbox.checked = this.checked;
        }

    });



    //选中某行的
    $(".jx_all").click(function(){
        var checkboxss = $(this).parent('td').next().find("input");
        for (var i = 0; i < checkboxss.length; i++) {
            var checkbox = checkboxss[i];
            checkbox.checked = this.checked;
        }

	});


    $(".show-div").click(function(){
        $(this).parent().parent().parent('thead').next().animate({height: 'toggle', opacity: 'toggle'}, "slow");
        if($(this).html()=="展开"){
            $(this).html("收缩");
		}else{
            $(this).html("展开");
		}
	});
</script>

{/block}