<div class="col-lg-{$addons_config.width}">
	<div class="main-box clearfix">
		<header class="main-box-header clearfix">
			<h2>{$addons_config.title}</h2>
		</header>
		<div class="main-box-body clearfix">
			<table class="table">
				<tr>
					<th>总策划</th>
					<td>西南驾培集团设计部</td>
				</tr>
				<tr>
					<th>产品设计及研发团队</th>
					<td>西南驾培集团</td>
				</tr>
				<tr>
					<th>界面及用户体验团队</th>
					<td>西南驾培集团设计部</td>
				</tr>
				<tr>
					<th>官方网址</th>
					<td><a href="http://www.yidianxueche.cn" target="_blank">www.yidianxueche.cn</a></td>
				</tr>
				<tr>
					<th>联系电话</th>
					<td>023-67303999</td>
				</tr>
				<tr>
					<th>维护QQ</th>
					<td>1835591342</td>
				</tr>
			</table>
		</div>
	</div>
</div>