<!DOCTYPE html>
<html lang="zh-CN"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>易点学车</title>
    <meta name="description" content="Yan">
    <meta name="keywords" content="Yan">
    <meta name="author" content="Yan">
    <script src="__ROOT_PATH__/wap/static/js/jquery-2.2.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__ROOT_PATH__/wap/static/js/custom1.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=DBd897f58d7a63e585485e3dea011253"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&amp;ak=DBd897f58d7a63e585485e3dea011253&amp;services=&amp;t=20181029172410"></script>

    <link rel="stylesheet" type="text/css" href="__ROOT_PATH__/wap/static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="__ROOT_PATH__/wap/static/css/default.css">
    <link rel="stylesheet" href="__ROOT_PATH__/wap/static/css/main.css">
    <link rel="stylesheet" href="__ROOT_PATH__/wap/static/css/examples.css">
    <!-- Themes -->
    <link rel="stylesheet" href="__ROOT_PATH__/wap/static/css/bars-1to10.css">
    <link rel="stylesheet" href="__ROOT_PATH__/wap/static/css/bars-movie.css">
    <link rel="stylesheet" href="__ROOT_PATH__/wap/static/css/bars-square.css">
    <link rel="stylesheet" href="__ROOT_PATH__/wap/static/css/bars-pill.css">
    <link rel="stylesheet" href="__ROOT_PATH__/wap/static/css/bars-reversed.css">
    <link rel="stylesheet" href="__ROOT_PATH__/wap/static/css/bars-horizontal.css">

    <link rel="stylesheet" href="__ROOT_PATH__/wap/static/css/fontawesome-stars.css">
    <link rel="stylesheet" href="__ROOT_PATH__/wap/static/css/css-stars.css">
    <link rel="stylesheet" href="__ROOT_PATH__/wap/static/css/bootstrap-stars.css">


    <link rel="stylesheet" type="text/css" href="__ROOT_PATH__/wap/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__ROOT_PATH__/wap/static/css/swiper-3.4.1.min.css">
    <link rel="stylesheet" type="text/css" href="__ROOT_PATH__/wap/static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="__ROOT_PATH__/wap/static/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="__ROOT_PATH__/wap/static/css/new_add.css"/>
</head>

<body>
<!--[if lt IE 9]>对不起，浏览器版本太低~！<![endif]-->
<div class="container sign">
    <div class="row mold-on">
        <label for="">
            <input type="hidden" name="class" value="1">计时无忧班手动挡（C1）
        </label>
        <span class="right">
					3460.00
				</span>
    </div>

    <div class="row address">
        <span>场地:<span>大学城训练基地</span></span>
        <span class="map right"><a href=""><img src="__ROOT_PATH__/wap/static/images/map1.png" width="20"/> > </a></span>
    </div>

    <div class="row address" onclick="javascript:jts()">
        <span class="left">活动</span>
        <span class="map activity right"> > </span>
    </div>

    <div class="row address" onclick="javascript:dr_submit()">
        <span class="left">推荐码</span>
        <span class="map activity right"> 填写推荐码 > </span>
    </div>

    <div class="row address total" id="total">
        <span>费用合计</span>
        <span class="count right"> 3280元</span>
    </div>


    <div class="row notice">
        <h1 class="col-xs-12">填写信息</h1>
        <div class="col-xs-12">
            <input type="text" name="name" placeholder="请输入您的姓名"/><br/>
            <input type="text" name="phone" placeholder="请输入您的电话"/><br/>
            <input type="text" name="cno" placeholder="请输入您的身份证号码"/>
        </div>
        <div class="xieyi">
            <span>
                <input id="color-input-red" class="chat-button-location-radio-input" type="checkbox" name="color-input-red" value="#f0544d" checked/>
                <label  for="color-input-red"></label >

                <span class="text">我已阅读并同意</span>
                <span class="color"><a href="javascript:xieyi()">《鼎吉驾校学车协议》</a> </span>
            </span>
            <span class="right" id="other" onclick="javascript:other()">其他</span></div>
    </div>




    <div class="row kong"></div>


    <div class="row enroll">
        <a href="tel:400-689-8909">
            <div class="col-xs-4 enroll-call">
                <p>咨询热线</p>
                <p>400-689-8909</p>
            </div>
        </a>
        <a class="col-xs-8 enroll-btn">我要报名</a>
    </div>

</div>

<div class="c_alert_dialog dialog_open" style="display: none">
    <div class="c_alert_mask" ontouchmove="return false"></div>
    <div class="c_alert_wrap c_alert_width">

        <div class="row">
            <div class="modal-body tuijian">
                <div>
                    <input type="text" name="code" id="code" placeholder="请输入推荐码">
                </div>
            </div>
            <div class="modal-body">
                <div>
                    <input type="submit" id="confirm" class="confirm" value="确认">
                </div>
            </div>
        </div>


    </div>
</div>

<div class="c_alert_dialog jts" style="display: none">
    <div class="c_alert_mask" ontouchmove="return false"></div>
    <div class="c_alert_wrap c_alert_width">

        <div class="row">
            <div class="modal-body">
                <div><img src="__ROOT_PATH__/wap/static/images/jts_1.png" width="83" height="83" /> <br/>报名减免</div>
                <div><span>直接报名可享受</span><span>200元学费减免</span></div>

            </div>
            <div class="modal-body">
                <div><img src="__ROOT_PATH__/wap/static/images/jts_2.png" width="83" height="83" /> <br/>团报优惠</div>
                <div><span>三人团减免200元</span><span>五人团减免300元</span></div>

            </div>
            <div class="modal-body">
                <div><img src="__ROOT_PATH__/wap/static/images/jts_3.png" width="83" height="83" /> <br/>加就送</div>
                <div><span>报名加200元赠送</span><span>价值888元跑步机</span></div>
            </div>
        </div>


            <div class="modal-body yhq">
                <div>
                    <input type="text" name="code" id="yhq_code" placeholder="如果你有优惠券请输入优惠券编码">
                </div>
            </div>
            <div class="modal-body yhq">
                <div>
                    <input type="submit" id="yhq" class="confirm" value="确认">
                </div>
            </div>



    </div>
</div>


<div class="c_alert_dialog other" style="display: none">
    <div class="c_alert_mask" ontouchmove="return false"></div>
    <div class="c_alert_wrap c_alert_width">

        <div class="row">
            <div class="modal-body">
                <div>
                    <label><input type="radio" value="1" name="other" class="other-input" checked>全款支付</label>
                    <label><input type="radio" value="2" name="other" class="other-input">定金支付</label>
                    <label><input type="radio" value="3" name="other" class="other-input">线下支付</label>
                </div>
            </div>
            <div class="modal-body">
                <div>
                    <input type="submit" id="confirm-other" class="confirm" value="确认">
                </div>
            </div>
        </div>


    </div>
</div>




<script>
    function dr_submit() {
       $(".dialog_open").show();

    }

    function jts(){
        $(".jts").show();
    }

    function other(){
        $(".other").show();
    }


   $(function(){
       $("#confirm").click(function(){
           $(".dialog_open").hide();
           //do something
       });
       $("#yhq").click(function () {
           $(".jts").hide();
           //do something
       });

       $("#confirm-other").click(function(){
           $(".other").hide();

           var check_val = $('input:radio[name="other"]:checked').val();
            //全款支付
           if(check_val==1){
                var tem='<span>费用合计</span>' +
                    '<span class="count right"> 3280元</span>';
               $("#total").html(tem);
               $(".sign .total").css('height','45');
           }
           //定金支付
           if(check_val==2){
               var template ='<div class="left djzf" style="padding-top: 0px;"><span>费用合计<span class="xf">您可以先付定金抢占名额</span></span></div>' +
                   '<div class="right djzf"><span class="count right"> <input type="text" name="deposit" placeholder="300-3460">元(定金)</span></div>';

                $("#total").html(template);
                $(".sign .total").css('height','70');
           }
           //线下支付
           if(check_val==3){
               var tem='<span>费用合计</span>' +
                   '<span class="count right"> 0元</span>';
               $("#total").html(tem);
               $(".sign .total").css('height','45');
           }



           //do something
       });

   });
    function xieyi(){
        var name = $("#name").val();
        var phone = $("#phone").val();
        var cno = $("#cno").val();

        $.post("enlist/agreement",{name:name,phone:phone,cno:cno},function (data) {
            if(data){
                location.href="{$web_path}/enlist/agreement";
            }

        });

    }




    /*
    function visit_code() {
        var phone = $("#phone").val();
        var code = $("#code").val();
        $.ajax({
            type:"post",
            url:"/index.php?do=enlist_details&action=visit",
            async:true,
            data:{phone:phone,code:code},
            dataType:"json",
            success:function(data) {
                if(data.status==1) {
                    window.location.href = "/index.php?do=enlist_order&id=14&coach=205";
                }else{
                    alert(data.code);
                }
            }
        });
    }
    var InterValObj; //timer变量，控制时间
    var count = 60; //间隔函数，1秒执行
    var curCount;//当前剩余秒数

    function sendMessage() {
        var phone = $("#phone").val();
        curCount = count;
        //向后台发送处理数据
        $.ajax({
            type: "POST", //用POST方式传输
            dataType: "json", //数据格式:JSON
            url: "/index.php?do=enlist_details&action=send&phone="+phone, //目标地址
            error: function (XMLHttpRequest, textStatus, errorThrown) { },
            success: function (msg){
                if(msg.status==5){
                    alert(msg.code);
                } else {
                    //设置button效果，开始计时
                    $("#btnSendCode").attr("disabled", "true");
                    $("#btnSendCode").val(  curCount + "秒");
                    InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
                }
            }
        });
    }
    //timer处理函数
    function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj);//停止计时器
            $("#btnSendCode").removeAttr("disabled");//启用按钮
            $("#btnSendCode").val("重新发送验证码");
        }
        else {
            curCount--;
            $("#btnSendCode").val( curCount + "秒");
        }
    }
*/
</script>



</body>
</html>