{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/libs/bootstrap-editable.css">

<link rel="stylesheet" href="__PUBLIC__/plugs/tagsinput/bootstrap-tagsinput.css">
<script src="__PUBLIC__/plugs/tagsinput/bootstrap-tagsinput.js"></script>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugs/webuploader/webuploader.css">
<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/plugs/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/plugs/ueditor/ueditor.all.min.js"></script>
<!-- datepicker statr -->
<link href="__PUBLIC__/plugs/datepicker/css/foundation-datepicker.min.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/plugs/datepicker/js/foundation-datepicker.js"></script>
<script src="__PUBLIC__/plugs/datepicker/js/foundation-datepicker.zh-CN.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugs/board/board.min.css">
{/block}
{block name="body"}
<div id="bd_map" style="display: block; position: fixed;width: 316px;left: 0px;bottom:0px;z-index: -2017;">
    <table style="background-color:#f6f6f6;">
        <tbody>
        <tr>
            <td colspan="2">
                <div>
                    <div class="aui_title" style="cursor: move;height: 28px;line-height: 27px;padding-top:0px;padding-right: 28px;padding-bottom: 0px;padding-left: 10px;font-weight: bold;">BaiduMap</div>
                    <a class="aui_close" id="close" href="javascript:void(0);" style="padding: 0;top: 4px;right: 4px;width: 21px;line-height: 21px;font-size: 18px;color: #333333;overflow: hidden;display: block;position: absolute;text-decoration: none;outline: none;">×</a>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 0px;width: 700px;height: 430px;visibility: visible;">
                <div id="l-map" style="display: block;width: 100%;margin: 0;padding: 0!important;height: 100%;"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
		<div class="pull-right">
			<a class="btn btn-primary" href="{:url('add')}">新 增</a>
			<button class="btn btn-success ajax-post" target-form="ids" url="{:url('status?status=0')}" >启 用</button>
			<button class="btn btn-default ajax-post" target-form="ids" url="{:url('status?status=1')}">禁 用</button>
			<!--<button class="btn btn-danger ajax-post confirm" url="{:url('delete')}" target-form="ids">删 除</button>-->
		</div>
	</header>
	<div class="main-box-body clearfix">
		<div class="row">
			<form method="get">
				<div class="col-sm-12 col-md-4 col-lg-3">
					<select name="status" id="status" class="form-control">
						<option value="">请选择场地状态</option>
                        <option value="2" {if isset($status) && $status==2}selected{/if} selected>启用</option>
						<option value="1" {if isset($status) && $status==1}selected{/if}>禁用</option>

					</select>
				</div>
				<div class="col-sm-12 col-md-4">
					<button class="btn btn-primary" type="submit">查询</button>
				</div>
			</form>
		</div>


		<div class="table-responsive clearfix">
			<table class="table table-hover">
				<thead>
					<tr>
						<th width="30"><input class="checkbox check-all" type="checkbox"></th>
						<th width="150">序号</th>
						<th>名称</th>
						<th>地址</th>
						<th>位置</th>
						<th>封面图</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="list" id="item"}
					<tr>
						<td><input class="ids row-selected" type="checkbox" name="id[]" value="{$item['id']}"></td>
						<td>{$item['id']}</td>
						<td>{$item['name']}</td>
						<td>{$item['address']}</td>
						<td class="open_map">
                            <img src="/public/images/map1.png"  style="cursor: pointer;">
                            <input name="lng" readonly="readonly" type="hidden" size="11" class="lng" value="{$item['lng']}" style="border: none;">
                            <input name="lat" readonly="readonly" type="hidden" size="10" class="lat" value="{$item['lat']}" style="border: none;">

						</td>
						<td><img src="{:get_cover($item['thumb'],'path')}" width="50"/></td>
						<td>
							{if condition=" $item['status'] eq 0 "}
							<span class="label label-primary">启用</span>
							{else /}
							<span class="label label-danger">禁用</span>
							{/if}
						</td>
						<td>

							<a href="{:url('edit?id='.$item['id'])}" class="btn btn-info">编辑</a>
							{if $item['status']}
							<a href="{:url('status?id='.$item['id'].'&status=0')}" class="btn btn-success ajax-get">启用</a>
							{else/}
							<a href="{:url('status?id='.$item['id'].'&status=1')}" class="btn btn-danger ajax-get">禁用</a>
							{/if}
							
							<!--<a href="{:url('delete?id='.$item['id'])}" class="confirm ajax-get table-link">删除</a>-->
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
			{$page}
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__PUBLIC__/plugs/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugs/webuploader/webuploader.custom.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/droppable.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugs/board/board.min.js"></script>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=DBd897f58d7a63e585485e3dea011253"></script>
<script type="text/javascript">

    $(function(){

        $(".open_map").hover(function(){

            var map = new BMap.Map("l-map");
            var p_lng;
            var p_lat;
            p_lng = $(this).find('.lng').val();
            p_lat = $(this).find('.lat').val();

            //判断 如果是新建的标注无值 就取默认的定位，如果标注有值 就取出值标注定位到地图
            if((p_lng==null||p_lng==''||p_lng==undefined)&&(p_lat==null||p_lat==''||p_lat==undefined)){
                p_lng = 106.559614;
                p_lat = 29.567507;
            } else {
                p_lng = $(this).find('.lng').val();
                p_lat = $(this).find('.lat').val();
            }
            var point = new BMap.Point(p_lng,p_lat);
            map.centerAndZoom(point, 12);
            map.enableScrollWheelZoom(true);   //缩放地图
            var marker = new BMap.Marker(point);// 创建标注
            map.addOverlay(marker);             // 将标注添加到地图中

            $("#bd_map").css("z-index",2017);
        },function(){
            $("#bd_map").css("z-index",-2017);
		});


    });
</script>
{/block}