{extend name="public/base"/}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{:isset($info['id'])?'新增':'新增'}借用信息</h2>
		</div>
		<div class="pull-right"></div>
	</header>
	<div class="main-box-body clearfix">
		<form method="post" class="form form-horizontal" onSubmit="return check()">
		<div class="form-group">
				<label class="col-lg-2 control-label">物料编号</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" name="cid" value="{$info.cid|default=''}" style="width: 80%" readonly>
					
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">物料名称</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" name="name" value="{$info.name|default=''}" style="width: 80%" readonly>
					
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-lg-2 control-label">物料型号</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" name="model" value="{$info.model|default=''}" style="width: 80%" readonly>
					
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-lg-2 control-label">物料库位</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" name="library" value="{$info.library|default=''}" style="width: 80%" readonly>
					
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">库存数量</label>
				<div class="col-lg-10">
					<input type="number" min="1" class="form-control" name="stock" id="stock" value="{$info.stock|default=''}" style="width: 80%" readonly>
					
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-lg-2 control-label">借用数量</label>
				<div class="col-lg-10">
					<input type="number" min="1" max="{$info.stock|default=''}" class="form-control" name="num" id="num" value="{$info.num|default=''}" style="width: 80%">
					
				</div>
			</div>
		
			  
			  
			<div class="form-group">
				<label class="col-lg-2 control-label">借用人</label>
				<div class="col-lg-10">
					<input type="hidden" class="form-control" name="person_id" id="person_id" value="">
					<input type="text" class="form-control" name="person_name" id="person_name" value="" style="width: 80%" readonly>
					
					<a class="add-sub-cate" title="选择人员" href="javascript:;" onclick="window.open('{:url('person')}','newwindow', 'height=500, width=600, top=50, left=100, toolbar=no, menubar=no, scrollbars=yes, resizable=no,location=no, status=no')">
                                        <i class="fa fa-plus-square"></i>选择人员
				</div>
				
				
                                    </a>
			</div>
			
			<div class="form-group">
				<label class="col-lg-2 control-label">借用时间</label>
				<div class="col-lg-10">
					<input type="date" class="form-control" name="time" id="time" value="{$info.time|default=''}" style="width: 80%">
					
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-lg-2 control-label">归还时间</label>
				<div class="col-lg-10">
					<input type="date" class="form-control" name="returntime" id="returntime" value="{$info.returntime|default=''}" style="width: 80%">
					
				</div>
			</div>
			
			
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<input type="hidden" name="id" value="{$info['id']|default=''}">
					<button class="btn btn-success submit-btn ajax-post" type="submit" id="btn" target-form="form-horizontal">确 定</button>
					<button class="btn btn-danger btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
$stock=parseInt($("#stock").val());

$('#num').blur(function(){
	
	if($('#num').val()<=0){
		alert('借用数量必须大于0！');
		$('#num').val("");
		return false;
	}
	if($("#num").val() > $stock ){
		
		alert("借用数量必须小于等于库存数量！");
		$('#num').val("");
		return false;
	}
	
});

function check(){
	if(!$("#person_id").val()){
		alert("借用人不能为空！");
		return false;
	}
	if(!$("#time").val()){
		alert("借用时间不能为空！");
		return false;
	}
	if(!$("#returntime").val()){
		alert("归还时间不能为空！");
		return false;
	}
}


</script>
{/block}